/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */
:root,
:root.green {
    --light: #F2FFF3;
    --light-md: #A1CCA5;
    --medium: #8FB996;
    --medium-md: #709775;
    --dark: #415D43;
    --dark-md: #111D13;
}

:root.blue {
    --light: #effbff;
    --light-md: #d7f7ff;
    --medium: #41a0b8;
    --medium-md: #38899d;
    --dark: #1c444e;
    --dark-md: #122d34;
}

:root.grey {
    --light: #F8F9FA;
    --light-md: #E9ECEF;
    --medium: #ADB5BD;
    --medium-md: #6C757D;
    --dark: #343A40;
    --dark-md: #212529;
}

:root.pink {
    --light: #ffe2f0;
    --light-md: #ffcee7;
    --medium: #ff83c1;
    --medium-md: #a3326b;
    --dark: #511935;
    --dark-md: #5c203e;
}

/* Header */
header {
    background-color: var(--medium);
    z-index: 10;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 2rem;
}

p {
    font-weight: 400;
    margin-top: 1rem;
}

h1, p {
    color: var(--dark-md);
}

header #flex_container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 1.2rem;
    padding: 2rem 0 1rem 0;
}

#header_heading_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*Edit button
Taken from https://uiverse.io/barisdogansutcu/lovely-walrus-42
and edited to mach project
*/
#theme_Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: linear-gradient(to top, var(--dark) 0%, var(--dark-md) 100%);
    border: solid 3px transparent;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 3px #ffffff00;
    color: var(--light);
    min-height: 43px;
    padding: 0 13px 0 13px;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .5s ease;
}
  
#theme_Btn:active {
    transform: scale(.9);
    transition: all 100ms ease;
}
  
#theme_Btn:hover {
    box-shadow: 0px 0px 0px 3px var(--dark);
    cursor: pointer;
}
  
#theme_Btn svg {
    width: 16px;
}

/* Input container */
#flex_input_container {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
    background-color: var(--medium);
    position: sticky;
    top: 0;
    z-index: 10;
}

#input_container {
    width: 600px;
    padding: 1rem 0 1rem 0;
}

#input {
    margin: 0;
    border-top: 1px solid var(--medium-md);
    border-right: none;
    border-bottom: 1px solid var(--medium-md);
    border-left: 1px solid var(--medium-md);
    border-radius: 0.5rem 0 0 0.5rem;
    box-shadow: inset 0 2px 6px var(--medium-md);
    width: 90%;
    padding: 10px;
    float: left;
    font-size: 16px;
    height: 2.5rem;
    transition: 0.3s;
    color: var(--dark);
    background-color: var(--light);
}

#input:hover {
    border-top: 2px solid var(--medium-md);
    border-right: none;
    border-bottom: 2px solid var(--medium-md);
    border-left: 2px solid var(--medium-md);
}

#input:focus {
    outline: none;
    border-top: 2px solid var(--dark);
    border-right: none;
    border-bottom: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
}

#input::placeholder {
    color: var(--medium);
}

/* Header input add button */
.add_Btn {
    border-top: 1px solid var(--dark);
    border-right: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
    border-left: none;
    width: 10%;
    background-image: linear-gradient(to top, var(--dark) 0%, var(--dark-md) 100%);
    float: left;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    box-shadow: 0px 0px 0px 3px #ffffff00;
    background-clip: padding-box;
}

.add_Btn:hover {
    background-image: linear-gradient(to top, var(--medium-md ) 0%, var(--dark) 100%);
    cursor: pointer;
    transition: 0.9s ease;
}

/* Main section */
#section_background_img{
    background-image: url('../images/background_image1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

#section_background_color{
    background-color: #f2fff349;
    min-height: 100vh;
}

/* List items */
#list_conatiner {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 0 5rem;
}

#list_conatiner ul li {
    background: var(--dark);
    position: relative;
    padding: 0.5rem 40px;
    list-style-type: none;
    transition: 0.5s;
    margin: 1px 0;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #list_conatiner ul li:hover {
    background: var(--dark-md);
}

.text {
    width: 65%;
}

.todo_item_input{
    color: var(--light);
    background-color: var(--dark);
    font-size: 18px;
    font-weight: 400; 
    z-index: 3;
    border: none;
    background-color: inherit;
    width: 100%;
}

.todo_item_input_enabled {
    color: var(--dark-md)!important;
    background: var(--light)!important;
    font-size: 18px;
    font-weight: 400; 
    z-index: 3;
    border: none;
    background-color: inherit;
}
  
/* List items checked style */
#list_conatiner ul li.checked {
    background: transparent;
}

#list_conatiner ul li input.checked {
    text-decoration: line-through;
    color: var(--dark-md);
}

.checked button:hover {
    background-color: transparent;
    border: none;
}

#list_conatiner ul li.checked::before {
    content: '';
    position: absolute;
    border-color: var(--dark-md);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
/* List items controles */
.controles {
    display: flex;
    gap: 10px;
}

#list_conatiner ul li button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid var(--dark);
    background-color: var(--light);
    color: var(--dark-md);
}

#list_conatiner ul li button:hover {
   cursor: pointer;
   background-color: var(--medium-md);
   color: var(--light);
}

#list_conatiner ul li button i {
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: var(--medium);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
/* Footer icons 
Taken from https://uiverse.io/david-mohseni/brave-shrimp-86
and edited
*/
.wrapper {
    display: inline-flex;
    list-style: none;
    width: 100%;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.icon {
    position: relative;
    background: var(--light);
    border-radius: 50%;
    margin: 10px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: var(--light);
    color: var(--dark-md);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--light);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
  
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: var(--dark-md);
    color: var(--light);
}
  
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: var(--dark-md);
    color: var(--light);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: var(--dark-md);
    color: var(--light);
}
.wrapper a {
    color: var(--dark-md);
}
.wrapper a:hover {
    color: var(--light);
}

/* Popup */
#popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    backdrop-filter: blur(5px);
}

#popup_menu {
    max-width: 300px;
    height: 260px;
    background-color: var(--medium);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-radius: 0.5rem;
}

#popup_menu label {
    color: var(--dark-md);
}

select {
    margin-bottom: 10px;
    padding: 0.5rem;
    background-color: var(--light);
    border-radius: 0.5rem;
}

#close_Btn {
    padding: 0.5rem;
    margin-top: 10px;
    background-color: var(--light);
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-md);
    border: none;
    border-radius: 0.5rem;
}

#close_Btn:hover {
    cursor: pointer;
    background-color: var(--dark-md);
    color: var(--light);
    transition: 0.3s ease-in-out;
}

/* Media query */
@media only screen and (max-width:768px) {
    /* Header */
    header {
        padding: 0 5vw;
    }

    /* Input container */
#flex_input_container {
    padding: 0 5vw;
    
}

    header #flex_container {
        gap: 0.5rem;
        padding: 2rem 0 1rem 0;
    }
    /* Edit button */
    #edit_Btn {
        gap: 5px;
        padding: 0 10px 0 10px;
        letter-spacing: 1px;
        min-height: 23px;
    }
    /* Main section */
    #section_background_color {
        padding: 0 5vw;
    }

    /* Text elements */
    h1 {
        font-size: 1.8rem;
    }

    p {
        margin-top: 0.5rem;
    }

}